@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.65);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #242424;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.icon-about {
  color: #F89534;
} 

/* Logo Inicio */

.logo{
  width: 19%;
}

.logo img{
  width: 180px;
  cursor: pointer;
}

/* Logo Fim */

/* Navbar Inicio */

#navbar {
  transition: 0.3s;
}

#navbarNav .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

#navbar.roll {
  background: #FF9934;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

#navbar li {
  padding-left: 15px;
}

.nav-link {
  padding-top: 20px;
}

#navbar .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  transition: all .25s ease;
}

#navbar .nav-link:hover, #navbar{
  color: #F89534;
}

.dropdown-item {
  padding: .8rem 1.5rem;
  text-transform: uppercase;
  font-size: 13px;
}

.dropdown-item:hover {
  background: #f7a24d;
  color: #fff;
}

ul.dropdown-menu li {
  padding-left: 0px !important;
}

/* Navbar Fim */

/* Buttons Inicio */

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.2s ease;
}

.btn.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-main{
  background: #F89534;
  color: #fff;
  transition: all 0.5s ease;
}

.btn-main:hover{
  background: #cf7d2b;
  color: #fff;
}

.btn-round-full {
  border-radius: 50px;
}

/* Buttons Fim */

/* Sections Inicio */

.section {
  padding: 100px 0;
}

.section-title {
  margin-bottom: 50px;
}

/* Sections FIM */

/* Carousel Inicio */

.carousel .carousel-indicators button {
  width: 48px;
  height: 10px;
  margin-left: 10px;
  background-color: #fafafa;
}

.carousel-indicators button.active {
  background-color: #ff9934;
}

.carousel .thumb-wrapper {
  border-radius: 6px;
  position: relative;
}

.carousel .carousel-indicators {
  bottom: -80px;
}

.carousel .thumb-wrapper-int {
  background-color: #f3f3f3;
  border-radius: 6px;
  position: relative;
}

.inte .carousel-indicators button{
  width: 45px;
  height: 8px;
  margin-left: 10px;
  background-color: #131313;
}

.inte .carousel-indicators button.active {
  background-color: #ff9934;
}

/* Carousel FIM */

/* Objetivo Inicio */

#obj{
  margin-top: 18vh;
}

/* Objetivo FIM */

/* Links */
a {
  color: #242424;
  text-decoration: none;
}

a:focus, a:hover {
  color: #f8fada;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.content-title {
  font-size: 40px;
  line-height: 50px;
}

/* Divs Seções Inicio */

.home {
  background: url("../imgs/background/pupunha1.png") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding: 260px 0 280px 0;
  position: relative;
}

.home .block h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 600;
  color: #fff;
}

.home .block span {
  letter-spacing: 1px;
}

.cont-item i {
  font-size: 60px;
  line-height: 60px;
}

.proj{
  background-color: #6eaa6e;
}

.about-item-img{
  background-color: #131313;
  background: url('../imgs/background/antracnose.png') no-repeat 50% 50%;
}

.odss {
  background: url("../imgs/background/ods1-bg.png") fixed 50% 50%;
  background-size: cover;
  padding: 120px 0px;
  position: relative;
}

.img-ods-12{
  width: 158px;
  border-radius: 10px;
}

.img-ods-9{
  width: 160px;
  border-radius: 10px;
}

.func{
  background-color: #282828;
}

.obj{
  background-color: #6eaa6e;
}

.integrantes{
  background-color: #fafafa;
}

.text-int{
  margin: 5px;
}

/* Divs Seções Fim */
.footer {
  background-color: #131313;
  padding-bottom: 10px;
}

.footer .copyright a {
  font-weight: 600;
}

.img-fatec{
  width: 9rem;
}

.img-cps{
  width: 18rem;
}

.img-logo1{
  width: 15rem;
}

.footer-btm {
  border-top: 1px solid #f1f1f1;
}

.footer-logo {
  padding-bottom: 10px;
}

@media (max-width: 400px) {
  .home .block h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .home {
    padding: 151px 0 151px 0;
  }
  .btn {
    font-size: 0.8125rem;
    padding: 1rem 1.5rem;
  }
  .btn.btn-icon i {
    font-size: 10px;
  }
  .content-title {
    font-size: 28px;
    line-height: 46px;
  }
  .bg-about {
    display: none;
  }
  .carousel-mobile .carousel-inner .carousel-item .col-sm-3{
    width: 90px;
  }
  .inte .carousel-inner .carousel-item .col-sm-3{
    width: 110px;
  }
  .inte .carousel-inner .carousel-item p{
    font-size: 0.8rem;
    line-height: 15px;
    margin-top: 5px;
  }
  .inte .carousel-inner .carousel-item h4{
    font-size: 0.8rem;
    line-height: 15px;
  }
}
